@model string

<li class="@(Model == "Store" ? "active-link" : "inactive-link")">
    <a href="#">МАГАЗИН</a>
</li>
<li class="@(Model == "About" ? "active-link" : "inactive-link")">
    <a href="#">О НАС</a>
</li>
<li class="@(Model == "Where" ? "active-link" : "inactive-link")">
    <a href="#">ГДЕ КУПИТЬ</a>
</li>
<li class="@(Model == "FAQ" ? "active-link" : "inactive-link")">
    <a href="#">ВОПРОСЫ</a>
</li>
<li class="@(Model == "Contacts" ? "active-link" : "inactive-link")">
    <a href="#">КОНТАКТЫ</a>
</li>
<li class="@(Model == "Cart" ? "active-link" : "inactive-link")">
    <a href="#">КОРЗИНА</a>
</li>