@model string

<li class="@(Model == "Store" ? "active-link" : "inactive-link")">
    @Html.ActionLink("МАГАЗИН", "Store", "Home")
</li>
<li class="@(Model == "About" ? "active-link" : "inactive-link")">
    @Html.ActionLink("О НАС", "About", "Home")
</li>
<li class="@(Model == "Where" ? "active-link" : "inactive-link")">
    @Html.ActionLink("ГДЕ КУПИТЬ", "Where", "Home")
</li>
<li class="@(Model == "FAQ" ? "active-link" : "inactive-link")">
    @Html.ActionLink("ВОПРОСЫ", "Faq", "Home")
</li>
<li class="@(Model == "Contacts" ? "active-link" : "inactive-link")">
    @Html.ActionLink("КОНТАКТЫ", "Contacts", "Home")
</li>
<li class="@(Model == "Cart" ? "active-link" : "inactive-link")">
    @Html.ActionLink("КОРЗИНА", "Cart", "Home")
</li>