@using iStore.WebUI.HtmlHelpers
@using iStore.WebUI.Models

@model ItemsListViewModel

@{
    ViewBag.Title = "МАГАЗИН";
}

@Html.Partial("_NavigationMenuMobile", "Catalog")

<div class="container">
    @Html.Partial("_NavigationMenuDesktop", "Catalog")

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt1.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt2.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt3.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt4.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt5.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt6.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt7.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt8.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt9.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt10.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt11.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="list-group-item">Аксессуары</div>
                <img src="~/Images/ec_tshirt12.jpg">
                <a href="#" class="list-group-item">Маечка<span class="badge">280р</span></a>
            </div>
        </div>
    </div>
    
    @helper PageLinks(PagingInfo pagingInfo, Func<int, string> pageUrl)
    {
        <nav>
            <ul class="pagination">
                <li class="@(pagingInfo.CurrentPage == 1 ? "disabled" : "")">
                    <a href="@pageUrl(pagingInfo.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= pagingInfo.TotalPages; i++)
                {
                    <li class="@(i == pagingInfo.CurrentPage ? "active" : "")"><a href="@pageUrl(i)">@i</a></li>
                }
                
                <li class="@(pagingInfo.CurrentPage == pagingInfo.TotalPages ? "disabled" : "")">
                    <a href="@pageUrl(pagingInfo.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }

    @PageLinks(Model.PagingInfo, x => Url.Action("Catalog", new { page = x, category = Model.CurrentCategory }))

</div>